<form action="/equipment" method="POST">
  <p>
    <label for="name">Name:</label>
    <input name="name" type="text" />
  </p>
  <p>
    <label for="model_number">Model Number:</label>
    <input name="model_number" type="text"/>
  </p>
  <p>
    <label for="serial_number">Serial Number:</label>
    <input name="serial_number" type="text"/>
  </p>
  <p>
    <label for="property_number">Property Number:</label>
    <input name="property_number" type="text"/>
  </p>
  <p>
    <label for="description">Description</label>
    <textarea name="description"></textarea>
  </p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>
