<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SampleWikiPage</title>
</head>
<body>
<h1>Sample Page Title</h1>
<div class="pageSelector">
<button id="pagebutton" >Go To Chat Page</button>
</div>
<div class="contentPage" style="display: block">
    <h3>Content</h3>
    <p>Coding conventions are a set of guidelines for a specific programming language that recommend programming style, practices and methods for each aspect of a piece program written in this language. These conventions usually cover file organization, indentation, comments, declarations, statements, white space, naming conventions, programming practices, programming principles, programming rules of thumb, architectural best practices, etc. These are guidelines for software structural quality. Software programmers are highly recommended to follow these guidelines to help improve the readability of their source code and make software maintenance easier. Coding conventions are only applicable to the human maintainers and peer reviewers of a software project. Conventions may be formalized in a documented set of rules that an entire team or company follows, or may be as informal as the habitual coding practices of an individual. Coding conventions are not enforced by compilers.</p>
    <p>Reducing the cost of software maintenance is the most often cited reason for following coding conventions. In their introduction to code conventions for the Java programming language, Sun Microsystems provides the following rationale:[1]

        Code conventions are important to programmers for a number of reasons:

        40%–80% of the lifetime cost of a piece of software goes to maintenance. [2]
        Hardly any software is maintained for its whole life by the original author.
        Code conventions improve the readability of the software, allowing engineers to understand new code more quickly and thoroughly.
        If you ship your source code as a product, you need to make sure it is as well packaged and clean as any other product you create.
        Software engineering[edit]
        Software engineering is the process by which the project is specified and designed. It is absolutely fundamental to the success of projects, particularly if they are large projects. The software engineering process is what runs the coding process to successful completion. Good software engineering can make the difference between a successful project - both in financial and engineering terms - and a project that is, at worst, dead on delivery. Good software engineering will minimise downstream costs and maximise the marketing success of the project.

        Project specifications[edit]
        The following documents need to be produced:

        The project brief. This is what kicks off the project. It is basically a brief description of the project and does not form a part of the formal document chain.
        The requirements specification. This specifies what the project is to do. It is the fundamental part of the document chain. All other documents relate to it.
        The project design. This is the formal design document of the project. It specifies the modules and the components, what their interfaces are and how they are connected. The software engineer, in carrying out this task, is looking at all the various ways to design the project and is choosing the best ways. He/She is taking into consideration all aspects including technical, quality, managerial, logistical and commercial. This includes time and cost of development, maintenance, support and usage of - both upfront and downstream. Part of this job is the architectural design but it goes a lot farther than that.
        The test specification. This specifies all the tests that are to be performed and what results are to be checked for. Often tests are run within automated test harnesses and the tests specified either within code files or script files.
        The test results.
        The project specifications all the way down to the test results form what is called a document chain. Each document has a 1:1 relationship to the previous document. And ultimately the test specification has a 1:1 relationship to the requirements specification. The document chain is bidirectional - specifications going down, results coming back up.

        These methods are called formal methods.

        Quality[edit]
        Software peer review frequently involves reading source code. This type of peer review is primarily a defect detection activity. By definition, only the original author of a piece of code has read the source file before the code is submitted for review. Code that is written using consistent guidelines is easier for other reviewers to understand and assimilate, improving the efficacy of the defect detection process.

        Even for the original author, consistently coded software eases maintainability. There is no guarantee that an individual will remember the precise rationale for why a particular piece of code was written in a certain way long after the code was originally written. Coding conventions can help. Consistent use of whitespace improves readability and reduces the time it takes to understand the software.

        Coding standards[edit]
        Where coding conventions have been specifically designed to produce high-quality code, and have then been formally adopted, they then become coding standards. Specific styles, irrespective of whether they are commonly adopted, do not automatically produce good quality code. It is only if they are designed to produce good quality code that they actually result in good quality code being produced, i.e., they must be very logical in every aspect of their design - every aspect justified and resulting in quality code being produced.

        Driving down complexity[edit]
        The management of complexity is very important. There is a very basic principle - during the project development ask the question - "has this project been implemented with the least amount of code necessary ?". If it hasn't then unnecessary work has been undertaken and unnecessary cost - both upfront and downstream - has been incurred. This is the "Keep it Simple" rule - simple but effective.

        Complexity is managed both at the design stage - how the project is architectured - and at the development stage - what coding is used. If the coding is kept basic and simple then the complexity will be minimised. Very often this is keeping the coding as 'physical' as possible - coding in a manner that is very direct and not highly abstract. This produces optimal code that is easy to read and follow.

        The more complex the code is the more likely it is to be buggy, the more difficult the bugs are to find and the more likely there are to be hidden bugs. Safe coding is very important.

        Refactoring[edit]
        Refactoring refers to a software maintenance activity where source code is modified to improve readability or improve its structure. Software is often refactored to bring it into conformance with a team's stated coding standards after its initial release. Any change that does not alter the behavior of the software can be considered refactoring. Common refactoring activities are changing variable names, renaming methods, moving methods or whole classes and breaking large methods (or functions) into smaller ones.

        Agile software development methodologies plan for regular (or even continuous) refactoring making it an integral part of the team software development process.[3]</p>
</div>
<div class="chatpage" style="display: none">
    <h3>Chat</h3>
    <p>This Code Conventions for the Java Programming Language document contains the standard conventions that we at Sun follow and recommend that others follow. It covers filenames, file organization, indentation, comments, declarations, statements, white space, naming conventions, programming practices and includes a code example. Why have code conventions? Code conventions are important to programmers for a number of reasons:</p>
    <p>The Code Conventions for the Java Programming Language document was revised and updated on April 20, 1999. [1]

        One class per file is not necessary true. In Jave or C#, sometimes there is a need to declare private classes which have to share source files with some other public classes.G7shihao (talk) 02:52, 20 February 2009 (UTC)</p>
    <p>Trailing commas[edit]
        Trailing commas redirect here, but the article does not mention them. — Preceding unsigned comment added by 81.191.75.7 (talk) 21:22, 29 July 2015 (UTC)

        Programming style[edit]
        This article overlaps with Programming style and Coding standards and has no proper link to de:Programmierstil. I dare not change it, because I cannot decide which of the two articles could go to orcus or if both could get a clear different lemma.--Brf (talk) 15:46, 11 December 2009 (UTC)

        Refactoring coding conventions and programming style articles[edit]
        Below are my proposals for some bigger (but straight-forward) changes to the below indicated 3 articles. Feel free to comment them. It is Nov-5-2010 now, I will not start execution before some week(s) have passed by. Proposals for smaller changes/merges to the (currently) 3 involved articles, I have not looked into yet. Also here, any proposals/comments are welcome. Thanks, Ptrb (talk) 07:09, 5 November 2010 (UTC).

        Proposal 0[edit]
        As a general direction for the refactoring of the following arcicles. I suggest to work towards the given focus for each of them.

        Coding conventions — Have this as the leading article on this topic
        Programming style — Limit this to style (read: layout, formatting) only, move other content to respective articles
        Need to double check, if there are other articles on layout, formatting, that would need to be involved in these considerations
        Naming convention (programming) — Limit to naming conventions, move all naming convention specific to here, and point to this article from the other articles
        Ptrb (talk) 16:50, 3 November 2010 (UTC)

        DONE , Ptrb (talk) 08:27, 19 November 2010 (UTC)
        Proposal 1[edit]
        The content provided here Programming_style#Appropriate_variable_names is more or less equivalent to the content provided here Naming_convention_(programming)#Business_value and here Naming_convention_(programming)#Length_of_identifiers. I suggest to

        delete the "get a b c" vs. "get hours minutes seconds" example here Programming_style#Appropriate_variable_names , and to stick to Naming_convention_(programming)#Business_value
        consider to migrate the statement on "In early programming languages" from Programming_style#Appropriate_variable_names to here Naming_convention_(programming)#Length_of_identifiers
        Ptrb (talk) 14:52, 3 November 2010 (UTC)

        DONE , Ptrb (talk) 07:55, 17 November 2010 (UTC)</p>
</div>
<script src="../../public/contentPage.js"></script>
</body>
</html>